extends ../layouts/default

block js
  script(src='js/index.js')
  //script(type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js')

block content

  .container-fluid
    .row
      .col-xs-10.col-xs-offset-1
        img.centered-img(src='/images/FairmondoUKGreen.svg' style="max-width: 80%") 
        h1 - Buy The Good -
        h2 A cooperatively owned online marketplace that makes it really easy to source ethical goods and services from sellers with a strong commitment to ethical business and trade. 
    hr
    
    .row
      .col-xs-10.col-xs-offset-1
        h1 What is FairmondoUK?
        .row
          .col-sm-4.col-xs-12
            a(href="about#the_one")
              img.framed-img.centered-img(src=data['the_one'].image.url width='150px' height='150px')
            h2.text-center The One
            .summary-item
              != data['the_one'].content.html
          .col-sm-4.col-xs-12
            a(href="about#easy")
              img.framed-img.centered-img(src=data['easy'].image.url width='150px' height='150px')
            h2.text-center Easy 
            .summary-item
              != data['easy'].content.html
          .col-sm-4.col-xs-12
            a(href="about#cooperative")
              img.framed-img.centered-img(src=data['cooperative'].image.url width='150px' height='150px')
            h2.text-center Cooperative
            .summary-item
              != data['cooperative'].content.html 
            
    hr

    .row#sign-up
      .col-xs-10.col-xs-offset-1
        form.form-horizontal(action="/subscribe" method="post")
          h1 - Be The Good -
          h3 Subscribe to our mailing list and get involoved
          .col-sm-8.col-sm-offset-2

            #mce-responses.clear
              .alert.alert-danger(id="mce-error-response" style="display:none") 
              .alert.alert-success(id="mce-success-response" style="display:none")

            .form-group
              input.form-control(type="email" placeholder="Email" value="" name="EMAIL" id="mce-EMAIL")

            // Get interest IDs from mailchimp playground
            .form-group
              .col-xs-6.col-sm-3
                label.checkbox-inline(for="buyer-group")
                  input(type="checkbox" value="1" name="interests[84eb0fb602]" id="buyer-group")
                  | Buyer
              .col-xs-6.col-sm-3
                label.checkbox-inline(for="seller-group")
                  input(type="checkbox" value="1" name="interests[11c76ad6f6]" id="seller-group")
                  | Seller

              .col-xs-6.col-sm-3
                label.checkbox-inline(for="worker-group")
                  input(type="checkbox" value="1" name="interests[e16cf58fc6]" id="worker-group")
                  | Worker
              
              .col-xs-6.col-sm-3
                label.checkbox-inline(for="investor-group")
                  input(type="checkbox" value="1" name="interests[e17a4aa98f]" id="investor-group")
                  | Investor
            .form-group.clear.text-center
              button.btn.btn-default(type="submit") Subscribe
    hr

    .row
      .col-xs-12
        h1 What's the offer?
      .col-sm-6
        img.centered-img(src=data['seller_offer'].image.url height='300px')
        h2 For Sellers:
        .offer-list
          != data['seller_offer'].content.html
      .col-sm-6
        img.centered-img(src=data['consumer_offer'].image.url height='300px')
        h2 For Consumers:
        .offer-list
          != data['consumer_offer'].content.html 
    hr
    .row
      .col-xs-12.col-sm-6.col-sm-offset-3
        h1 Where do we go from here?
        p.text-center Find out about the plan for the future and how you can get involved by looking at our roadmap or checking out our vacancies list.
        .text-center
          a(href='about#roadmap')
            button.btn.btn-default() See The Roadmap
          a(href='vacancies')
            button.btn.btn-default() See Our Vacancies

    hr

script(type='text/javascript'). 
  (function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);

